//! **************************************************************************
// Written by: Map P.20131013 on Sat Jul 17 11:42:52 2021
//! **************************************************************************

SCHEMATIC START;
COMP "GPO_DDS_STOP" LOCATE = SITE "P13" LEVEL 1;
COMP "OL_POWER" LOCATE = SITE "M7" LEVEL 1;
COMP "O_TP_51" LOCATE = SITE "A3" LEVEL 1;
COMP "O_TP_52" LOCATE = SITE "B3" LEVEL 1;
COMP "O_TP_53" LOCATE = SITE "D5" LEVEL 1;
COMP "O_TP_54" LOCATE = SITE "C4" LEVEL 1;
COMP "FMOT" LOCATE = SITE "N16" LEVEL 1;
COMP "I_SPI_CLK" LOCATE = SITE "H1" LEVEL 1;
COMP "PWMA" LOCATE = SITE "P15" LEVEL 1;
COMP "PWMB" LOCATE = SITE "N13" LEVEL 1;
COMP "O_N_LED5" LOCATE = SITE "A6" LEVEL 1;
COMP "O_N_LED6" LOCATE = SITE "D13" LEVEL 1;
COMP "O_N_LED7" LOCATE = SITE "D12" LEVEL 1;
COMP "I_N_RESET" LOCATE = SITE "R9" LEVEL 1;
COMP "OL_CURRENT" LOCATE = SITE "P10" LEVEL 1;
COMP "OVL_FUNCTION" LOCATE = SITE "T11" LEVEL 1;
COMP "FQUAD" LOCATE = SITE "J13" LEVEL 1;
COMP "GPO_OL_RESET" LOCATE = SITE "N12" LEVEL 1;
COMP "OL_VOLTAGE" LOCATE = SITE "P12" LEVEL 1;
COMP "I_SPI_MOSI" LOCATE = SITE "M4" LEVEL 1;
COMP "HW_VERS_BD<0>" LOCATE = SITE "F13" LEVEL 1;
COMP "HW_VERS_BD<1>" LOCATE = SITE "E14" LEVEL 1;
COMP "HW_VERS_BD<2>" LOCATE = SITE "D15" LEVEL 1;
COMP "I_SPI_N_CS" LOCATE = SITE "G2" LEVEL 1;
COMP "HW_VERS_BD<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "HW_VERS_BD<4>" LOCATE = SITE "D14" LEVEL 1;
COMP "HW_VERS_BD<5>" LOCATE = SITE "E13" LEVEL 1;
COMP "HW_VERS_BD<6>" LOCATE = SITE "C15" LEVEL 1;
COMP "HW_VERS_BD<7>" LOCATE = SITE "C16" LEVEL 1;
COMP "I_N_RESET_UP_OUT" LOCATE = SITE "T9" LEVEL 1;
COMP "I_PHASE_SIGN" LOCATE = SITE "R5" LEVEL 1;
COMP "GPI_OL_TEMP" LOCATE = SITE "M11" LEVEL 1;
COMP "O_SPI_MISO" LOCATE = SITE "R1" LEVEL 1;
COMP "I_CLK_25MHZ" LOCATE = SITE "K15" LEVEL 1;
PIN XLXI_33/XLXI_103/DCM_SP_INST_pins<2> = BEL "XLXI_33/XLXI_103/DCM_SP_INST"
        PINNAME CLKIN;
TIMEGRP I_CLK_25MHZ = BEL "XLXI_3/X_RST_DEB" BEL "XLXI_4/X_RST_DEB" BEL
        "XLXI_4/i_X_RST_IN_DEB_CNT_0" BEL "XLXI_4/i_X_RST_IN_DEB_CNT_1" BEL
        "XLXI_4/i_X_RST_IN_DEB_CNT_2" BEL "XLXI_4/i_X_RST_IN_DEB_CNT_3" BEL
        "XLXI_3/i_X_RST_IN_DEB_CNT_0" BEL "XLXI_3/i_X_RST_IN_DEB_CNT_1" BEL
        "XLXI_3/i_X_RST_IN_DEB_CNT_2" BEL "XLXI_3/i_X_RST_IN_DEB_CNT_3" BEL
        "XLXI_33/XLXI_50/COUNT_0" BEL "XLXI_33/XLXI_50/COUNT_1" BEL
        "XLXI_33/XLXI_50/COUNT_2" BEL "XLXI_33/XLXI_50/COUNT_3" BEL
        "XLXI_33/XLXI_50/COUNT_4" BEL "XLXI_33/XLXI_50/COUNT_5" BEL
        "XLXI_33/XLXI_50/COUNT_6" BEL "XLXI_33/XLXI_50/COUNT_7" BEL
        "XLXI_33/XLXI_50/COUNT_8" BEL "XLXI_33/XLXI_50/COUNT_9" BEL
        "XLXI_33/XLXI_50/COUNT_10" BEL "XLXI_33/XLXI_50/COUNT_11" BEL
        "XLXI_33/XLXI_50/COUNT_12" BEL "XLXI_33/XLXI_50/COUNT_13" BEL
        "XLXI_33/XLXI_50/COUNT_14" BEL "XLXI_33/XLXI_50/COUNT_15" BEL
        "XLXI_33/XLXI_54/COUNT_23" BEL "XLXI_33/XLXI_54/COUNT_22" BEL
        "XLXI_33/XLXI_54/COUNT_21" BEL "XLXI_33/XLXI_54/COUNT_20" BEL
        "XLXI_33/XLXI_54/COUNT_19" BEL "XLXI_33/XLXI_54/COUNT_18" BEL
        "XLXI_33/XLXI_54/COUNT_17" BEL "XLXI_33/XLXI_54/COUNT_16" BEL
        "XLXI_33/XLXI_54/COUNT_15" BEL "XLXI_33/XLXI_54/COUNT_14" BEL
        "XLXI_33/XLXI_54/COUNT_13" BEL "XLXI_33/XLXI_54/COUNT_12" BEL
        "XLXI_33/XLXI_54/COUNT_11" BEL "XLXI_33/XLXI_54/COUNT_10" BEL
        "XLXI_33/XLXI_54/COUNT_9" BEL "XLXI_33/XLXI_54/COUNT_8" BEL
        "XLXI_33/XLXI_54/COUNT_7" BEL "XLXI_33/XLXI_54/COUNT_6" BEL
        "XLXI_33/XLXI_54/COUNT_5" BEL "XLXI_33/XLXI_54/COUNT_4" BEL
        "XLXI_33/XLXI_54/COUNT_3" BEL "XLXI_33/XLXI_54/COUNT_2" BEL
        "XLXI_33/XLXI_54/COUNT_1" BEL "XLXI_33/XLXI_54/COUNT_0" BEL
        "XLXN_122_BUFG.GCLKMUX" BEL "XLXN_122_BUFG" PIN
        "XLXI_33/XLXI_103/DCM_SP_INST_pins<2>";
TIMEGRP XLXI_33_XLXI_103_CLKFX_BUF = BEL "XLXI_33/XLXI_26" BEL
        "XLXI_33/XLXI_25" BEL "XLXI_33/XLXI_22" BEL "XLXI_33/XLXI_20" BEL
        "XLXI_33/XLXI_16" BEL "XLXI_33/XLXI_9" BEL
        "XLXI_33/XLXI_4/blk00000001/blk00000009" BEL
        "XLXI_33/XLXI_4/blk00000001/blk0000000a" BEL
        "XLXI_33/XLXI_4/blk00000001/blk0000000b" BEL
        "XLXI_33/XLXI_103/CLKFX_BUFG_INST.GCLKMUX" BEL
        "XLXI_33/XLXI_103/CLKFX_BUFG_INST";
TS_FPGA_CLOCK = PERIOD TIMEGRP "I_CLK_25MHZ" 40 ns HIGH 40%;
TS_XLXI_33_XLXI_103_CLKFX_BUF = PERIOD TIMEGRP "XLXI_33_XLXI_103_CLKFX_BUF"
        TS_FPGA_CLOCK / 8 HIGH 50%;
SCHEMATIC END;

